<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true, label: "Email" %>
        <%= f.input :first_name, required: true, autofocus: true, label: "Prénom" %>
        <%= f.input :last_name, required: true, autofocus: true, label: "Nom" %>
        <%= f.input :address, required: true, autofocus: true, label: "Adresse" %>
        <%= f.input :phone, required: true, autofocus: true, label: "Téléphone (domicile)" %>
        <%= f.input :mobile_phone, required: true, autofocus: true, label: "Téléphone (portable)" %>
        <%= f.input :company, required: true, autofocus: true, label: "Nom de l'auto-entreprise" %>
        <%= f.input :siret, required: true, autofocus: true, label: "Numéro de SIRET" %>
        <%= f.input :price_per_hour, required: true, autofocus: true, label: "Prix à l'heure" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "Ne remplissez pas ce champ si vous ne désirez pas le changer", required: false, label: "Nouveau mot de passe" %>
        <%= f.input :password_confirmation, required: false, label: "Confirmation de votre nouveau mot de passe" %>
        <%= f.input :current_password, hint: "Nous avons besoin de votre mot de passe pour mettre à jour vos changements", required: true, label: "Ancien mot de passe" %>
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" id="row-sub-links">
    <div class="col-sm-3 col-sm-offset-3">
      <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ? Vous perdrez les factures associées" }, method: :delete %></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to "Retour et annuler mes changements", :back %></p>
    </div>
  </div>
</div>