<div class="nested-fields">
  <div class="col-xs-3 input-padded">
    <%= f.input :part_id, collection: @parts, label: "Nom de la pièce" %>
  </div>
  <div class="col-xs-2 input-padded">
    <%= f.input :price_ht, label: "Prix HT" %>
  </div>
  <div class="col-xs-2 input-padded">
    <%= f.input :discount_provider, label: "Remise" %>
  </div>
  <div class="col-xs-3 input-padded">
    <%= f.input :ref, label: "Référence" %>
  </div>
  <div class="col-xs-2 input-padded top-align">
    <%= link_to_remove_association f, class: "" do  %>
    <div id="remove-part-link">
      <i class="fa fa-close"></i> Supprimer
    </div>
    <% end %>
  </div>
</div>