<% content_for(:banner) do %>
  <div>
    <div style="background-image: url(<%= asset_path 'motor.jpg' %>)" class="generic-banner">
    <div class="text-banner">
      <h1>Factures</h1>
      <div class="row" id="search-service-form">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 has-feedback-left padding-sub-row">
          <i class="form-control-feedback form-control-feedback-left fa fa-search"></i>
          <input type="text" class="search-input" id="search-term" onkeyup="searchServices('all-invoices');" placeholder="Nom du client, immat, ..." style="outline: none;">
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div id="all-invoices">
    <% if @invoices.empty? %>
      <h3>Aucune facture</h3>
    <% else %>
      <% @invoices.each do |invoice| %>
        <div class="div-content" data-customer-first-name="<%= invoice.customer.first_name.downcase %>" data-customer-last-name="<%= invoice.customer.last_name.downcase %>" data-customer-full-name="<%= invoice.customer.first_name.downcase %> <%= invoice.customer.last_name.downcase %>" data-description-mo="<%= invoice.description_mo.downcase %>" data-immat="<%= invoice.customer.immat %>">
          <div class="card-invoice">
            <div class="row">
              <div class="col-xs-9">
                <h3><%= link_to "Facture n°#{invoice.id}", users_invoice_path(invoice) %></h3>
                <p>
                  <i class="fa fa-user"></i> <%= invoice.customer.first_name %> <%= invoice.customer.last_name %>
                </p>
                <p>
                  <i class="fa fa-wrench"></i> <%= invoice.description_mo %>
                </p>
                <p>
                  <i class="fa fa-calendar"></i> <%= invoice.created_at.strftime('%d/%m/%Y') %>
                </p>
              </div>
              <div class="col-xs-3">
                <div class="row text-center padding-bottom-row">
                  <div class="highlight-price-number">
                    <h4><%= invoice.total_price %> €</h4>
                  </div>
                </div>
                <div class="row">
                  <%= link_to "Imprimer / Télécharger", users_invoice_path(id: invoice.id, format: 'pdf'), class: "btn btn-info button-full-width", target: "_blank" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="search-results" style="display: none;">
    <div class="row">
    </div>
    <div id="search-results-content"></div>
    <div id="no-results-found" style="display: none;">
      hey
    </div>
  </div>
</div>