<header class="clearfix">
  <div id="logo">
    <img src="">
  </div>
  <h1>Facture n°<%= @invoice.id %></h1>
  <div id="company" class="clearfix">
    <div><%= current_user.first_name %> <%= current_user.last_name %></div>
    <div><%= current_user.siret %></div>
    <div><%= current_user.address %></div>
    <div><%= current_user.phone %></div>
    <div><a href="mailto:<%= current_user.first_name %>"><%= current_user.email %></a></div>
  </div>
  <div id="project">
    <div><span>CLIENT</span> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></div>
    <div><span>ADRESSE</span> <%= @invoice.customer.address %></div>
    <div><span>DATE</span> <%= @invoice.created_at.strftime("%d/%m/%Y") %></div>
  </div>
</header>
<main>
  <table>
    <thead>
      <tr>
        <th class="service">SERVICE</th>
        <th class="desc">DESCRIPTION</th>
        <th>PRIX UNIT.</th>
        <th>QTE</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="service">Main-d'oeuvre</td>
        <td class="desc"><%= @invoice.description_mo %></td>
        <td class="unit"><%= current_user.price_per_hour %>€</td>
        <td class="qty"><%= @invoice.time_mo %></td>
        <td class="total"><%= @invoice.price_mo %>€</td>
      </tr>
      <% @invoice.invoiced_parts.each do |invoiced_part| %>
        <tr>
          <td class="service">Pièce</td>
          <td class="desc"><%= invoiced_part.part.name %></td>
          <td class="unit"><%= invoiced_part.price_ttc %>€</td>
          <td class="qty">1</td>
          <td class="total"><%= invoiced_part.price_ttc %>€</td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">SOUS-TOTAL</td>
        <td class="total"><%= @invoice.total_price %>€</td>
      </tr>
      <tr>
        <td colspan="4">Taxes</td>
        <td class="total">0€</td>
      </tr>
      <tr>
        <td colspan="4" class="grand total">NET A PAYER</td>
        <td class="grand total"><%= @invoice.total_price %>€</td>
      </tr>
    </tbody>
  </table>
  <div id="notices">
    <div>NOTES :</div>
    <div class="notice">TVA non applicable, art. 293 B du CGI. <br> Dispensé d'immatriculation en application de l'article L.123-1-1 du code de commerce.</div>
  </div>
</main>